html, body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: logoFont;
    src: url(coffee+teademo-Regular.ttf);
}

h1 {
    color: whitesmoke;
    font-family: logoFont;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: #414141;
    background-color: #cccccc;
    border-radius: 4px;
}

.side-left {
    background-image: url(images/ruan-richard-rodrigues-B9WQWQQsZUE-unsplash.jpg);
    background-color: antiquewhite;
    background-size: cover;
    min-width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo-space {
    flex: 1 0 auto;
    /*text-align: center;
    align-content: center;
    display: flex;*/
    box-sizing: border-box;
    padding-top: 150px;
}

.logo {
    margin: auto;
    background: rgba(100, 100, 100, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-credit {
    flex-shrink: 0;
    padding: 2px;
    background: rgba(100, 100, 100, 0.7);
    width: 100%;
    color: whitesmoke;
}

.logo-credit p {
    margin: 0;
}

.side-right {
    background-color: #e4e4e4;
    height: 100vh;
}

.right-sandwich {
    padding: 20px 100px 20px 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    background-color: whitesmoke;
    box-shadow: 5px 10px 10px #adadad;
}

.input-area {
    display: flex;
    gap: 30px;
}

.input-half {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.input-row input{
    background-color: #FFFFFF;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.input-row input:invalid{
    background-color: #ffbbbb;
    border: 1px solid #ff0000;
}

.input-row input:focus{
    border: 1px solid #2f00ff;
}

.input-row label{
    margin-bottom: 5px;
}